<footer>
    <div class="footer-wrapper">
        <div class="ui secondary menu inverted">
            <p class="item">leeyh0216's dev blog</p>
            <div class="right menu">
                <a class="item" href="/archive.html">
                    Latest Posts
                </a>
                <a class="item" href="https://facebook.com/yonghwan.lee.12">
                    Facebook
                </a>
                <a class="item" href="https://github.com/leeyh0216">
                    Github
                </a>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/semantic.min.js"></script>